:root {
  --text: #444;
}


body {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: var(--text);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

 a {
  color: var(--text);
  text-decoration: none;
 }
 a:hover {
  opacity: .8;
 }
 a:focus-visible {
  border: 2xp solid #444;
 }

.link-button {
  display: inline-block;
	padding: 3px 10px;
	line-height: 1.4;
	font-size: 14px;
	max-height: 60px;
  color: white;
  background-color: red;
  width: 80px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: .3s;
}

.edit-link {
  border-color: #d96b00;
}
.edit-link.button--secondary:hover {
  background-color: #b85c00;
  color: #fff;
}
h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
	margin-bottom: 1.5rem;
	border-bottom: 1px solid orange;
}

input[type="text"],
input[type="password"] {
	outline: 1px #333 solid;
	border-radius: 3px;
  max-width: 100%;
  line-height: 1.6;
  font-size: 14px;
  padding: 5px;
  display: inline-block;
}

input[type="text"]:focus,
input[type="password"]:focus {
	outline: 2px solid #444;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
	outline: 2px solid red;
}


p {
	margin-bottom: 1rem;
}

main {
	padding: 60px 15px;
}

.app-description {
  font-weight: bold;
}
.section {
  margin-bottom: 3rem;
}

.button-wrapper {
	text-align: center;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

